.container, .contentOutput{
    display: flex;
    margin: 50px auto 0;
    width: 50%;
}

#red, #yellow, #green{
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

