body{
    background-color: gray;
}
.container{
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
h2{
    text-transform: capitalize;
    font-size: 35px;
    text-shadow: 2px 2px 2px #CECECE;
}
button{
    background-color: black;
}
button {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
}